<h2 style="text-align: center; font-weight: bold; font-family: 'Times New Roman', Times, serif;">Login</h2>
<div class="container-fluid" style="border: 1px solid red; border-radius: 12px;">
  <label for="name" style="padding-right: 30px;align-items: center;">Username:</label>
  <input type="text" placeholder="Your Name" style="border-radius: 10px;"#name>
  <br>
  <label for="name" style="padding-right: 30px;align-items: center;margin-top: 20px;">Password:</label>
  <input type="password" placeholder="Your Password" style="border-radius: 10px;"#password>
  <br>
  <button (click)="isvalid(name,password)" style="align-self: center;" routerLink="/home">Submit</button>
  <a href="/">Don't have an account? create one</a>
</div>
