<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <app-navbar></app-navbar>
<h2 style="text-align: center; font-size: 21; font-weight: bold; font-family: 'Times New Roman', Times, serif;">Logged in as Admin</h2>
<div class="container-fluid">
<div class="container" style="align-items: center;">
<label for="date" style="margin-top: 25px;">Date:</label>
<input type="date" style="margin-left: 25px; border-radius: 7px; border-color: green;">
<br>
<label for="student">Student : </label>
<label for="addstudent">Add student</label>
<input type="radio">
<label for="remstudent" style="margin-left:30px">Remove student</label>
<input type="radio" style="margin-left: 7px;">
<br>
<label for="staff">Staff : </label>
<label for="addstaff">Add staff</label>
<input type="radio">
<label for="remstaff"style="margin-left:40px">Remove staff</label>
<input type="radio"style="margin-left: 10px;margin-top: 30px">
<br>
<button class="btn btn-success" style="margin-top: 20px;margin-bottom:9px">Submit</button>
<button class="btn btn-danger" style="margin-left: 17px; margin-top: 20px;margin-bottom:9px">Refresh</button>
</div>
</div>
</body>
</html>
