<h2 style="text-align: center;">User Registration</h2>
<div class="container-fluid">
  <div class="container" style="border: 1px solid red; border-radius: 15px;">
    <label for="name" style="margin: 25px;">First Name</label>
    <input type="text" placeholder="Eg:Anthony" style="margin: 25px;border-radius: 7px;">
    <br>
    <label for="lname" style="margin: 25px;">Last Name</label>
    <input type="text" placeholder="Eg:Stark" style="margin: 25px;border-radius: 7px;">
    <br>
    <label for="usrname" style="margin: 25px;">User name</label>
    <input type="text" placeholder="Eg:Anthony Edward Stark" style="margin: 25px;border-radius: 7px;">
    <br>
    <label for="password" style="margin: 25px;">Password</label>
    <input type="password" style="margin: 25px;border-radius: 7px;">
    <br>
    <button style="margin: 25px;border-radius: 7px;">Submit</button>
  </div>

</div>
